@CHARSET "ISO-8859-1";
body {
	background-color: #F0FFF0;
	color: #000;
}

#corpo{
	width:990px;
	margin: 0 auto;
	background-color:#F8F8F8;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
}

#login{
	width:250px;
	margin: 0 auto;
	background-color:#F8F8F8;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
}

.tabela{
	width:600px;	
}

.cabecalho {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: white;
   background-color: #3D77C0;
   text-align: center;
}

.impar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background-color: beige;
	text-indent: 11px;
}

.par {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	background-color: #E1ECF7;
	text-indent: 11px;
}